-- Write your PostgreSQL query statement below
SELECT A.id
FROM Weather A
JOIN Weather B
  ON A.recordDate = B.recordDate + INTERVAL '1 day'
WHERE A.temperature > B.temperature;

Learned
- Interval for calculating over time (postgreSQL) WHERE (end_date - start_date) > INTERVAL '5' DAY; You can find records with a duration greater than a specific interval:
- SQL operates row-by-row. A single row has no built-in knowledge of “the previous row” unless you explicitly connect it to one.

1581. Customer Who Visited but Did Not Make Any Transactions
-- Write your PostgreSQL query statement below
SELECT v.customer_id, (COUNT(*) - COUNT(t.transaction_id)) AS count_no_trans
FROM visits v
    LEFT JOIN Transactions t ON v.visit_id = t.visit_id
GROUP BY v.customer_id
HAVING COUNT(*) - COUNT(t.transaction_id) > 0;

Learned:
WHERE does not allow aggregrate functions as it runs before aggregration: only runs in SELECT, HAVING, ORDER BY
USE COUNT(*) So it also counts null values COUNT(column) Only rows where column is NOT NULL

In this example LEFT JOIN transactions t ON v.visit_id = t.visit_id -> visit_id : 1, 2 transaction_id 2, null respectively 

	•	COUNT(*) → counts both rows (2)
	•	COUNT(t.transaction_id) → counts only 1 (because NULL is ignored)

-- Write your PostgreSQL query statement below
SELECT a.machine_id, round(avg(b.timestamp-a.timestamp)::numeric, 3) AS processing_time 
FROM Activity a
    JOIN Activity b ON a.machine_id = b.machine_id
    WHERE a.process_id = b.process_id AND
    a.activity_type ='start' AND 
    b.activity_type ='end'
GROUP BY a.machine_id